<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="footer" class="fixed-bottom">
    <hr/>
    <div id="userinfo">
        <div sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
            <span th:text="#{label_welcome} + ', ' + ${#authentication.name}">Welcome, Bob</span>
        </div>
    </div>

    <div>
        <a href="list.html" th:href="@{/}" th:text="#{home_text}">Home</a> |
        <a href="list.html"
           th:href="@{?lang=en}"
           th:text="#{label_en_CA}">English</a> |
        <a href="list.html"
           th:href="@{?lang=fr}" th:text="#{label_fr_CA}">French</a>
    </div>
</div>
</body>
</html>
