<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
    <!-- Meta tag -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="Rivaldi"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <!-- FontAwesome -->
    <link th:href="@{/webjars/font-awesome/5.8.1/css/all.min.css}"
          rel="stylesheet"/>

    <!-- Custom styles -->
    <link th:href="@{/css/sb-admin-2/sb-admin-2.min.css}" rel="stylesheet"/>
</head>
</html>
