<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       th:href="${@routes.INDEX}">
        <div class="sidebar-brand-icon rotate-n-15">
            <span class="fas fa-laugh-wink"></span>
        </div>
        <div class="sidebar-brand-text mx-3">Search Bimbel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0"/>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="${@routes.INDEX}">
            <span class="fas fa-fw fa-tachometer-alt"></span>
            <span th:text="#{sidebar-title}">Dashboard</span></a>
    </li>

    <!-- Nav Item - Bimbel -->
    <li class="nav-item">
        <a class="nav-link" th:href="${@routes.INDEX}">
            <span class="fas fa-fw fa-tachometer-alt"></span>
            <span th:text="#{sidebar-title}">Dashboard</span></a>
    </li>

    <!-- Nav Item - Schedule -->
    <li class="nav-item" sec:authorize="hasAuthority('TUTOR')">
    <a class="nav-link" th:href="${@routes.TUTOR_SCHEDULE}">
    <span class="fas fa-fw fa-tachometer-alt"></span>
    <span th:text="#{sidebar-tutor-schedule}">Tutor Schedule</span></a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="${@routes.INDEX}">
            <span class="fas fa-fw fa-tachometer-alt"></span>
            <span th:text="#{sidebar-title}">Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0"/>

    <!-- Nav Item - Logout -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="fas fa-fw fa-tachometer-alt"></span>
            <span>Mock Feature Text</span>
        </a>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
</body>
</html>
