<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Register</title>
</head>

<body>
<main layout:fragment="content">
    <div class="text-center">
        <h1>Register</h1>
        <p class="alert alert-danger" th:if="${errMsg}" th:text="${errMsg}"></p>
        <form th:action="${@routes.REGISTER}"
              method="post"
              th:object="${bimbelUserDto}">
            <div class="form-group row">
                <label for="name-input" class="col-3">Name</label>
                <div class="col-6">
                    <p th:each="error : ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                    <input type="text" class="form-control" id="name-input"
                           required="required"
                           th:pattern="${@regexConstant.NAME_REGEX}"
                           th:title="#{validation-title-name}"
                           th:placeholder="#{placeholder-name}"
                           th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="username-input" class="col-3">Username</label>
                <div class="col-6">
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                    <input type="text" class="form-control" id="username-input"
                           required="required"
                           minlength="6"
                           th:pattern="${@regexConstant.USERNAME_REGEX}"
                           th:title="#{validation-title-username}"
                           th:placeholder="#{placeholder-username}"
                           th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="email-input" class="col-3">Email</label>
                <div class="col-6">
                    <p th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                    <input type="email"
                           class="form-control"
                           id="email-input"
                           required="required"
                           th:placeholder="#{placeholder-email}"
                           th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="password-input" class="col-3">Password</label>
                <div class="col-6">
                    <p th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                    <input type="password"
                           class="form-control"
                           id="password-input"
                           required="required"
                           minlength="6"
                           th:title="#{validation-title-password}"
                           th:placeholder="#{placeholder-password}"
                           th:field="*{password}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="role-input" class="col-3">Role</label>
                <div class="col-6">
                    <select class="form-control" id="role-input"
                            th:field="*{roles}">
                        <option th:each="role : ${roleList}"
                                th:value="${role.getName()}"
                                th:text="${role.getName()}"></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    th:text="#{button-submit}"></button>
        </form>
    </div>
</main>
</body>
</html>



