<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="main-list" class="text-left">
    <div id="select-education-level-wrapper">
        <label for="education-level-select" class="w-25">Education Level</label>
        <select id="education-level-select" th:field="*{education}">
            <option value="1">SMP</option>
            <option value="2">SMA</option>
            <option value="3">Universitas</option>
        </select>
    </div>
    <div id="select-province-wrapper">
        <label for="province-select" class="w-25">Select Province</label>
        <select id="province-select" th:field="*{provinceId}">
            <option th:each="province : ${provinces}"
                    th:value="${province.id}"
                    th:text="${province.name}"></option>
        </select>
    </div>
    <div id="select-area-wrapper">
        <label for="area-select" class="w-25">Select Area</label>
        <select id="area-select" th:field="*{cityId}">
        </select>
    </div>
</div>
</body>
</html>
