<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="main-list">
    <div id="education-level-wrapper">
        <label>Education Level
            <select>
                <option value="1">SD</option>
                <option value="2">SMP</option>
                <option value="3">SMA</option>
            </select>
        </label>
    </div>
    <div id="select-province-wrapper">
        <label>Select Province
            <select>
                <option>Gorontalo</option>
                <option>DKI Jakarta</option>
            </select>
        </label>
    </div>
    <div id="select-area-wrapper">
        <label>Select Area
            <select>
                <option>Kota Gorontalo</option>
                <option>Jakarta Barat</option>
                <option>Jakarta Pusat</option>
            </select>
        </label>
    </div>
</div>
</body>
</html>
