<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: header-css">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
        Search Bimbel
    </title>
</head>
<body>

<header class="main-header">
    <div th:replace="fragments/header :: header"></div>
</header>

<main role="main" class="container" layout:fragment="content">
</main>

<footer class="main-footer container-fluid"
        th:include="fragments/footer :: footer">
</footer>

<!-- JS files -->
<script type="text/javascript"
        th:src="@{webjars/jquery/3.0.0/jquery.min.js}">
</script>
<script type="text/javascript"
        th:src="@{webjars/popper.js/1.14.3/umd/popper.min.js}">
</script>
<script type="text/javascript"
        th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}">
</script>
<script type="text/javascript"
        th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>
