<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<main layout:fragment="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        Homepage
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered"
                   id="dataTable"
                   width="100%"
                   cellspacing="0">
                <tbody>
                <tr>use the sidebar to get started</tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<th:block layout:fragment="custom-js">

</th:block>
</body>
</html>
